* {
    margin: 0;
    font-family: 'Open Sans';
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 18px 36px;

}

/* Header & Navigation styles */
.header {
    background: #FFF8F3;
    /* margin-top: -46px; */
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: auto, 100px 600px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* banner styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;

}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
}

/* main section style */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Section Styles */
section {
    margin-top: 130px;
}

.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 116px 156px;
    text-align: center;

}

.section-title {

    color: #181818;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 40px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info .info-title {
    font-size: 20px;
    color: #757575;
}

.about-info .info-description {
    font-size: 20px;
    color: #474747;
}

/* What I do Style */

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill .skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill .skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Resume Style */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume .description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;

}
.resume .resume-title{
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* Contact section */
.contact{
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact .section-desription{
    margin-bottom: 30px;
}
.contact a{
    text-decoration: none;
    padding-right: 5px;
}
.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;

}